<template>
  <div>
    <h1>Bienvenue dans le salon {{ channel.name }}</h1>
    <form @submit.prevent="verifyPassword">
      <div>
        <label for="username">Nom d'utilisateur:</label>
        <input id="username" v-model="username"/>
      </div>
      <div>
        <label for="password">Mot de passe:</label>
        <input id="password" type="password" v-model="password"/>
      </div>
      <button type="submit">Vérifier</button>
    </form>
    <div v-if="passwordCheck !== null && !passwordCheck">
      Mot de passe incorrect
    </div>

    <div v-if="passwordCheck">
      <ChatMessages :channel-id="uuid" :password="password" :username="username"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {
  decryptDataWithPassword
} from '@/services/cryptoService';
import ChatMessages from "@/components/ChatMessages.vue";

export default {
  components: {ChatMessages},
  props: {
    uuid: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      password: '',
      username: '',
      passwordCheck: null,
      encryptedToken: '',
      channel: {}
    };
  },
  async created() {
    try {
      const response = await axios.get(`http://localhost:8000/channels/${this.uuid}`);
      console.log(response.data)
      this.channel = response.data;
      this.encryptedToken = response.data.encrypted_token;
    } catch (error) {
      console.error("Erreur lors de la récupération des informations du channel: ", error);
    }
  },
  methods: {
    async verifyPassword() {
      try {
        console.log(this.encryptedToken)
        const decryptedToken = await decryptDataWithPassword(this.encryptedToken, this.password, this.uuid)
        this.passwordCheck = !!decryptedToken;
      } catch (error) {
        console.log(error);
        this.passwordCheck = false;
      }
    },
  },
};
</script>

<style>
</style>
