<template>
  <div>
    <h1>Créer un nouveau salon</h1>
    <form @submit.prevent="createChannel">
      <div>
        <label for="name">Nom du salon:</label>
        <input id="name" v-model="channelName" required>
      </div>
      <div>
        <label for="password">Mot de passe:</label>
        <input id="password" type="password" v-model="channelPassword" required>
      </div>
      <button type="submit">Créer</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import {v4 as uuidv4} from 'uuid';
import {
  encryptDataWithPassword,
  generateRandomToken
} from "@/services/cryptoService";

export default {
  name: 'HomeView',
  data() {
    return {
      channelName: '',
      channelPassword: ''
    };
  },
  methods: {
    async createChannel() {
      try {
        const newUuid = uuidv4();

        const verifToken = await generateRandomToken(32)
        const encryptedTokenString = await encryptDataWithPassword(verifToken, this.channelPassword, newUuid)

        console.log(encryptedTokenString)
        const response = await axios.post('http://localhost:8000/channels/', {
          id: newUuid,
          name: this.channelName,
          encrypted_token: encryptedTokenString
        });

        if(response.status === 200) {
          this.$router.push(`/channel/${newUuid}`);
        }else {
          console.error(response);
        }

      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>