<script>
import {decryptDataWithPassword, encryptDataWithPassword} from "@/services/cryptoService";

export default {
  name: "ChatMessages",
  props: {
    channelId: {
      type: String,
      required: true
    },
    password: {
      type: String,
      required: true
    },
    username: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      messages: [],
      newMessage: "",
      socket: null
    };
  },
  computed: {
    displayName() {
      return this.username.trim() ? this.username : "Utilisateur anonyme";
    }
  },
  created() {
    const wsUrl = `ws://localhost:8000/ws/${this.channelId}`;
    this.socket = new WebSocket(wsUrl);

    this.socket.onmessage = async (event) => {
      const data = JSON.parse(event.data);
      const message = await decryptDataWithPassword(data.message, this.password, this.channelId)
      this.messages.push({
        message: message,
        author: data.author
      });
    };

    this.socket.onopen = () => {
      console.log('WebSocket connection established');
    };

    this.socket.onerror = (error) => {
      console.error('WebSocket Error: ', error);
    };
  },
  beforeUnmount() {
    if (this.socket) {
      this.socket.close();
    }
  },
  methods: {
    async sendMessage() {
      if (this.socket.readyState === WebSocket.OPEN) {
        const encryptedMessage = await encryptDataWithPassword(this.newMessage, this.password, this.channelId)
        const payload = JSON.stringify({
          message: encryptedMessage,
          author: this.displayName
        });

        this.socket.send(payload);
      }
      this.newMessage = "";
    },
  }
}
</script>

<template>
  <div>
    <h1>Chat en temps réel</h1>
    <div v-for="(message, index) in messages" :key="index">
      {{ message.author }} : {{ message.message }}
    </div>
    <input v-model="newMessage" @keydown.enter="sendMessage" placeholder="Écrivez un message..."/>
  </div>
</template>

<style scoped>

</style>